<!-- AJAX Content -->
<div id="ajaxpage" class="container">

	<div class="project-hero grid-full">

		<!-- Slider -->
		<ul class="slider clearfix">
			<li>
				<img src="http://aetherthemes.com/demo/visia/images/projects/project1-slide1.jpg" alt="">
			</li>
			<li>
				<img src="http://aetherthemes.com/demo/visia/images/projects/project1-slide2.jpg" alt="">
			</li>
			<li>
				<img src="http://aetherthemes.com/demo/visia/images/projects/project1-slide3.jpg" alt="">
			</li>
		</ul>

		<!-- Pager -->
		<div class="slider-pager"></div>
		<div class="small-border"></div>

		<!-- Prev/Next -->
		<div class="project-gallery-next"></div>
		<div class="project-gallery-prev"></div>

	</div>

	<div class="project-title grid-full">
		<h4>Sweet candy</h4>
		<h6><em>branding / package</em></h6>
	</div>

	<div class="project-info clearfix">
		<div class="grid-2">
			<h6>Challange</h6>
			<p>Vivamus iaculis metus eget nibh dapibus fringilla. Duis vel justo venenatis ligula bibendum vulputate et et tellus.</p>
		</div>
		<div class="grid-2">
			<h6>Solution</h6>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed nunc risus, ac vehicula turpis. Duis fringilla fringilla lorem, at ultricies tortor elementum sed. Fusce non ligula tortor, ut hendrerit magna.</p>
		</div>
		<div class="grid-2">
			<h6>Result</h6>
			<p>Donec nec pharetra arcu. Phasellus a odio non eros bibendum fringilla vel non lacus.</p>
			<a href="#">Visit the site →</a>
		</div>
	</div>

</div>
<!-- End AJAX Content -->
