<!-- Begin Portfolio -->
<section id="section2">
	
	<div class="content container clearfix news">

	<!-- Title -->
	<div class="title grid-full">
		<h2>Latest News</h2>
		<span class="border"></span>
	</div>
	
	<!-- Accordion & Toggle -->
	<div class="shortcode padded clearfix">
		<h3 class="shortcode-title2"><em>Sontag Shogun to release their debut album</em></h3>


		<!-- Accordion -->
		<div class="grid-3">

			<div class="accordion" rel="1">
				<p>Brooklyn Modern Classical trio Sontag Shogun will release their debut album, Tale, on May 5th .  The album compiles three years worth of composing and directed textural improvising, molded into nine concise musical statements.  The album was recorded and mixed in various locations by Sontag Shogun and mastered by James Plotkin.</p>
			</div>
			
			<!-- Responsive Video -->
			<div class="shortcode grid-full">
				<h3 class="shortcode-title3"><em>{ check out the first video from the album here for the track, The Musk Ox }</em></h3>
				<div class="video">
	                <iframe src="//www.youtube.com/embed/bUdgfGppKlA" width="940" height="529" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
	            </div>
			</div>
			<!-- End Responsive Video -->

		</div>
		<!-- End Accordion -->

		<div class="grid-3">

			<div class="toggle">
				<div class="toggle-title">
					<h5>
						<i></i>
						<span class="title-name">Order / Pre-order</span>
					</h5>
				</div>

				<div class="toggle-inner">
					<a href="http://luaurecords.bigcartel.com/product/tale-pre-order-released-may-5th" target="_blank">LUAU WEBSTORE</a> | 
					<a href="http://www.normanrecords.com/records/146472-sontag-shogun-tale-">NORMAN RECORDS</a> | 
					<a href="http://roughtrade.com/albums/81418">ROUGH TRADE</a> | 
					<a href="http://www.resident-music.com/productdetails&path=13826&product_id=29926">RESIDENT</a> | 
					<a href="http://www.amazon.co.uk/Tale-Sontag-Shogun/dp/B00IS85SBW/ref=sr_1_1?ie=UTF8&qid=1396950070&sr=8-1&keywords=sontag+shogun">AMAZON</a>
				</div>

			</div><!-- END OF TOGGLE -->

			<div class="toggle">
				<div class="toggle-title">
					<h5>
						<i></i>
						<span class="title-name">Tracklisting</span>
					</h5>
				</div>

				<div class="toggle-inner">
					<ol start="1" type="1">
						<li>Tale</li>
						<li>Hungarian Wheat</li>
						<li>Let The Flies In</li>
						<li>Jubokko</li>
						<li>...and here, at the middle, we listen to the man who tunes pianos.</li>
						<li>Orbit Insertion</li>
						<li>Beyond Wynd Gey</li>
						<li>The Musk Ox</li>
						<li>Tail</li>
					</ol>
				</div>

			</div><!-- END OF TOGGLE -->
			          

			<div class="toggle">
				<div class="toggle-title">
					<h5>
						<i></i>
						<span class="title-name">Description</span>
					</h5>
				</div>

				<div class="toggle-inner">
					<p>Sontag Shogun’s immense debut full-length album, “Tale”, compiles three years worth of composing and directed textural improvising, molded into nine concise musical statements. They have been experimenting with songform and traversing nostalgic emotional territories, quietly honing their craft alongside collaborators across disciplines such as video, film, dance, performance and poetry. Primarily making use of a grand piano, field recordings, tapeloops and digitally treated vocals, the trio has discovered a unique niche that straddles identifiable genre boundaries. Repetitions of phrases, digitally glitched-out melodies, superimposing practice takes with studio takes. Call this album modern classical, ambient, new age, Sontag prefers their own nomenclature: lullanoise.</p>

					<p>“Tale” was recorded whilst the three members were living in separate cities (Jesse in Busan & Seoul, Jeremy in London and Ian in Brooklyn); the resulting composite is both by design and by circumstance, a pastiche of aural geography, culture, and the subjective experiences accumulated on their respective sabbaticals. “Tale” engages the listener from start to finish (or as the titles suggest, from “tale” to “tail”), performing a pseudo-seance reviving the dead memories and reanimating, if only for just a moment, the instances that inspired and informed the music they have created. We can hear sound documents from a trek through a Columbian jungle, a piano tuner testing the ivory at the Southbank Centre and a South Korean traditional singer hitting a buk. These wordless vignettes bring to mind the retelling of a story, perhaps best experienced between the bindings of an as-yet written collection. All in all, "Tale" is a study in nostalgia: a rumination on our relationship to the past and how traces of memory haunt and shape us with every breath.</p>

					<p>The release of this album caps off a particularly productive and memorable year for Sontag, as they completed unforgettable tours through Europe, US and Canada, performing with lifelong friends The Dead Rat Orchestra, Liam Singer, Blevin Blectum, Aaron Martin and Julia Kent. Sontag is already looking forward into the next phase of the band’s existence which will include some short film score composition, a choreographic partnership and recomposing lullanoise for percussion and strings.</p>
				</div>

			</div><!-- END OF TOGGLE -->
			
			<div class="grid-full">
				<div class="review2"><img src="assets/quotes.png"><div class="reviewMargin2"><em>'The Musk Ox' (is) a gentle voyage into a cloud-laden world of natural feelings; warm piano chords become heavier after the soft twinklings of the track's beginnings, with buzzing ambient feedback rising up, gleaming glacially as it becomes an electronic blizzard in which the melody is sumptuously lost.</em><strong> - The 405</strong></div></div>
			</div>
			<div class="grid-full">
				<div class="review3"><img src="assets/quotes.png"><div class="reviewMargin2"><em>We are extremely excited about Sontag Shogun‘s upcoming Tale (Luau / Palaver Press / Ricco), which continues to stretch boundaries via the incorporation of drone, field recordings and post-rock.</em><strong> - A Closer Listen</strong></div></div>
			</div>
		</div>
	</div>
	<!-- End Accordion & Toggle -->
	
	</div>
	

</section>
<!-- End Portfolio -->
