.formWrapper {
	margin:50px 0px 50px 0px;
	padding:40px;
	float:left;
	clear:both;
	width:100%;
	background-color:#f5f5f5;
	border:2px solid;
	border-radius:15px;
}
.formWrapper2 {
	margin:40px 0px 20px 0px;
	padding:20px;
	float:left;
	cear:both;
	width:100%;
	border:none;
}
#form-content {
	min-height:300px;
}

.text-area, .text-areaArea, .text-areaPress, .text-areaBio {
    border: none;
    outline: none;
    padding: 10px;
    margin-top:5px;
    height: 35px;
    background: #202326;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #ffffff;
}

.text-areaArea {
	min-height:300px;
}
.text-areaPress {
	width:500px;
	height:100px;
}
.text-areaBio {
	width:820px;
	height:400px;
	line-height:20px!important;
}

.formText, .formTitle {
	font-size:17px;
	margin:10px 0px;
}
.formText2 {font-weight:800;font-size:10px;}
.marginUp {
	margin-top:-60px;
}
.userInfo {
	position:absolute;
	margin:33px 0px 0px 400px;
	color:#ffffff;
}
.review {margin:12px 0px 0px 2%;float:left;}
.review2 {margin:24px 0px 0px 2%;float:left;}
.review3 {margin:0px 0px 0px 2%;float:left;}
.reviewMargin {width:83%;float:right;margin:0px 10% 30px 5px;}
.reviewMargin2 {width:81%;float:right;margin:0px 3% 30px 5px;}






