<div id="ajaxpage" class="container">

	<div class="project-title grid-full">
		<h4>{{name}}</h4>
		<h6><em>{{website_url}}</em></h6>
	</div>

	<div class="project-info clearfix">
		<div class="grid-full">
			<p>{{bio}}</p>
		</div>
		<div class="grid-full">
			<div class="review"><img src="assets/quotes.png"><em>{{press1}}</em></div>
		</div>
		<div class="grid-full">
			<a href="{{website_url}}" target="_blank" class="button8">More...</a>
		</div>
	</div>

</div>