<div id="ajaxpage" class="container">

	<div class="project-title grid-full">
		<h4>{{name}}</h4>
		<h6><em><a href="http://{{website}}" target="_blank">{{website}}</a></em></h6>
	</div>

	<div class="project-info clearfix">
		<div class="grid-full">
			<p>{{bio}}</p>
		</div>
		<div class="grid-full buyMe">
			<a href="" target="_blank" class="buttonNoBorder">Releases...</a>
		</div>
	</div>
	<div class="releasesLoopInArtistShow">
		{{#releases}}
			<img class="rliasIMG" src="{{.}}"/>
		{{/releases}}
	</div>

</div>